body {
    background-image: url(/static/img/leaves-pattern.png);
}

.table-hover > tbody > tr:hover {
    background-color: #f7f7f7;
}

.card {
    width: 16rem;
    height: 7rem;
}

#chart {
    width: 700px;
    height: 500px;
    margin: 40px auto;
}